<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <a href="{{ url_for('home') }}">Back to Home</a>
  <h4>あなたは {{ nickname }} </h4>
  <h1>ログイン画面</h1>
  <form method="POST">
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" required>
    <br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>
    <br>
    <input type="submit" value="Login">
  </form>
  <h4>{{ good_or_bad }}</h4>
  <h4>初めての人は<a href="{{ url_for('signup') }}">こちらからSignup</a>できます</h4>
</body>
</html>
